
@{
    ViewBag.Title = "DataCompressor";
    Layout = "~/Views/Layout.cshtml";
}

<h1>Data Compressor <time datetime="2011-05">(2011-</time><time datetime="2012-08">2012)</time></h1>
<p>
    A year-and-a-half ago, I came across the <a href='http://prize.hutter1.net/' target="_blank">Hutter Project</a>, an ongoing contest to reversably reduce a 100MB sample of wikipedia to the smallest file possible.
    This lead me to try my hand at developing a generalized data-compression algorithm; to try to win some of that sweet cash prize.  I didn't win, but I did develop a working algorithm as well as
    a neat set of C++ libraries for manipulating and analyzing binary data.  If you have an interest, I encourage you to download the project and play around with it.  The project file does require a
    newer version of Visual Studio, but all of the components are either standard or homebrewed.  You should be able to copy the source files over and relink under just about any platform.
</p>
<a href="/Files/CIDER%2008-22-12.zip" class="BigBlueButton">
    Download Update 8/22/12
</a>
<br />
<a href="/Files/CIDER%205-12-12.zip" class="BigBlueButton">
    Download Update 5/12/12
</a>
<br />
<a href="/Files/cpplib%205-10-11.zip" class="BigBlueButton">
    Download Update 5/10/11
</a>
