
@{
    ViewBag.Title = "DNSUpdater";
    Layout = "~/Views/Layout.cshtml";
}

<h1>Dynamic DNS Updater <time datetime="2015-09">(2015)</time></h1>
<p>
    The Dynamic DNS Updater monitors the IP of my server and updates the namespace records when the address changes.  This allows me to run my website on a dynamic IP without misdirecting when a new
    address is assigned.  I built it because I was unable to find a client I liked that works with the <a href="http://domains.google.com/">Google Domains registrar</a>.  The DNS Updater is a windows
    background service able to manage multiple domains and update records dynamically on a programmable interval.  This service is free and available for public use.
</p>
<a class="BigBlueButton" href="https://github.com/joelrevans/Google-Domains-Dynamic-DNS-Updater" target="_blank">View Source on Github</a>

