
@{
    ViewBag.Title = "joelrevanscom";
    Layout = "~/Views/Layout.cshtml";
}

<h1>joelrevans.com <time datetime="2014">(2014</time>-<time datetime="2015">2015)</time></h1>
<p>
    The source code for this website is now available.  The site features clean, responsive HTML5, CSS3 and vanilla Javascript. All code is bespoke, no Jquery or extension frameworks.
    Features hand built razor controls that automatically resize, encode, and embed images directly to reduce HTTP request overhead and reduce overall bandwidth for mobile users (see thumbnailer).
</p>
<a class="BigBlueButton" href="https://github.com/joelrevans/joelrevans.com" target="_blank">
    View Source on Github
</a>
<a class="BigBlueButton" href="http://2015.joelrevans.com" rel="nofollow" target="_blank">
    Visit Website
</a>

